<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.CompanyStructMapper">

    <select id="queryDepartName" resultType="com.yhgc.api.vo.CompanyStructVo">
        select ID,DepartName from company_struct where 1=1
    </select>
</mapper>
