<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.DepartmentMapper">

    <insert id="saveDpt" parameterType="com.yhgc.api.dto.DepartmentDto">
        insert into department(dptName,parentId,isJobOrganization,jobScope,createTime)
        values(#{dptName},#{parentId},#{isJobOrganization},#{jobScope},#{createTime})
    </insert>

    <update id="updateDepartment" parameterType="com.yhgc.api.dto.DepartmentDto">
        update department set dptName= #{dptName},parentId= #{parentId},isJobOrganization= #{isJobOrganization},jobScope= #{jobScope} where id =  #{id}
    </update>

    <select id="verificationList" resultType="com.yhgc.api.vo.DepartmentVo">
        select id,dptName from department where status=0
    </select>
    <select id="dptList" resultType="com.yhgc.api.dto.DepartmentDto">
        select id,dptName,parentId,isJobOrganization,jobScope from department where 1=1
    </select>
    <select id="getDptById" resultType="com.yhgc.api.dto.DepartmentDto">
        select id,dptName,parentId,isJobOrganization,jobScope from department where id=#{id}
    </select>
    <select id="getOneDpt" resultType="com.yhgc.api.entity.Department">
        select id,dptName,parentId,isJobOrganization,jobScope from department where dptName=#{dptName}
    </select>
</mapper>
