<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.DeviceManagementMapper">
    <insert id="saveDeviceManagement">
        insert into device_management(creationTime,factoryName,jdStatus,sbCode,sbGuige,sbName,sbStatus,sbType,sbFacCode,lc,sbFdz,remark,zjzq,connectXm,storeType,startPlace,number,ccDate,grTime,sbOldValue)
        values(#{creationTime},#{factoryName},#{jdStatus},#{sbCode},#{sbGuige},#{sbName},#{sbStatus},#{sbType},#{sbFacCode},#{lc},#{sbFdz},#{remark},#{zjzq},#{connectXm},#{storeType},#{startPlace},#{number},#{ccDate},#{grTime},#{sbOldValue})
    </insert>

    <select id="searchPage" resultType="com.yhgc.api.entity.DeviceManagement">
        select * from device_management
        <where>
            <if test="query != null and query != ''">
                sbName like concat('%',#{query},'%')
            </if>
        </where>
    </select>
</mapper>
