<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.MeasuringPointMapper">

    <resultMap id="MeasuringPointMap" type="com.yhgc.api.vo.MeasuringPointVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="sectorId" column="sectorId" jdbcType="BIGINT"/>
        <result property="testMthod" column="testMthod" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="methodId" column="methodId" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="projectName" column="projectName" jdbcType="VARCHAR"/>
        <collection property="pileList" javaType="java.util.List" ofType="com.yhgc.api.entity.MeasuringPoint">
            <id property="mpId" column="mpId" jdbcType="BIGINT"/>
            <result property="pileNo" column="pileNo" jdbcType="VARCHAR"/>
            <result property="pileDiameter" column="pileDiameter" jdbcType="VARCHAR"/>
            <result property="sgPileLength" column="sgPileLength" jdbcType="VARCHAR"/>
            <result property="designPileLength" column="designPileLength" jdbcType="VARCHAR"/>
            <result property="pileDate" column="pileDate" jdbcType="TIMESTAMP"/>
            <result property="powerLevel" column="powerLevel" jdbcType="VARCHAR"/>
            <result property="pileBearing" column="pileBearing" jdbcType="VARCHAR"/>
            <result property="pileEndBearingLayer" column="pileEndBearingLayer" jdbcType="VARCHAR"/>
            <result property="pzqk" column="pzqk" jdbcType="VARCHAR"/>
            <result property="isValid" column="isValid" jdbcType="BIGINT"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        mi.id,mi.sectorId,mi.testMthod,
        mi.createTime,mi.remark,mi.methodId,
        mi.status,p.projectName as projectName,pileNo,pileDiameter,
        sgPileLength,designPileLength,pileDate,
        powerLevel,pileBearing,pileEndBearingLayer,
        pzqk,isValid,mp.mpId as mpId
    </sql>
    <insert id="saveMeasuringPoint">
        insert into device_management(pileNo,pileDiameter,sgPileLength,designPileLength,pileDate,powerLevel,pileBearing,pileEndBearingLayer,pzqk,isValid)
        values(#{pileNo},#{pileDiameter},#{sgPileLength},#{designPileLength},#{pileDate},#{powerLevel},#{pileBearing},#{pileEndBearingLayer},#{pzqk},#{isValid})
    </insert>

    <select id="getByIdMeasuringPoint" resultMap="MeasuringPointMap">
        select  <include refid="Base_Column_List" />
        from method_info mi
                 left join project_info p on  mi.methodId = p.id
                 left join measuring_point mp on mi.id=mp.isValid
        where mi.id = #{id}
    </select>

    <select id="listMeasuringPoint" resultType="com.yhgc.api.entity.MeasuringPoint">
        select  * from measuring_point where 1=1
    </select>

</mapper>
