<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.UnitMapper">

    <update id="updateUnit" parameterType="com.yhgc.api.entity.Unit">
        update unit
        <set>
            <if test="comName != null">
                comName = #{comName,jdbcType = VARCHAR},
            </if>
            <if test="comShortName != null">
                comShortName = #{comShortName,jdbcType = VARCHAR},
            </if>
            <if test="registCityName != null">
                registCityName = #{registCityName,jdbcType = VARCHAR},
            </if>
            <if test="registAddress != null">
                registAddress = #{registAddress,jdbcType = VARCHAR},
            </if>
            <if test="unitCode != null">
                unitCode = #{unitCode,jdbcType = VARCHAR},
            </if>
            <if test="comZipCode != null">
                comZipCode = #{comZipCode,jdbcType = VARCHAR},
            </if>
            <if test="regDate != null">
                regDate = #{regDate,jdbcType = TIMESTAMP},
            </if>
            <if test="unitRegType != null">
                unitRegType = #{unitRegType,jdbcType = VARCHAR},
            </if>
            <if test="issuingUnit != null">
                issuingUnit = #{issuingUnit,jdbcType = VARCHAR},
            </if>
            <if test="frDb != null">
                frDb = #{frDb,jdbcType = VARCHAR},
            </if>
            <if test="capital != null">
                capital = #{capital,jdbcType = VARCHAR},
            </if>
            <if test="frdbTel != null">
                frdbTel = #{frdbTel,jdbcType = VARCHAR},
            </if>
            <if test="lxrTel != null">
                lxrTel = #{lxrTel,jdbcType = VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType = VARCHAR},
            </if>
            <if test="etpEmail != null">
                etpEmail = #{etpEmail,jdbcType = VARCHAR},
            </if>
            <if test="mjFw != null">
                mjFw = #{mjFw,jdbcType = VARCHAR},
            </if>
            <if test="etUrl != null">
                etUrl = #{etUrl,jdbcType = VARCHAR},
            </if>
            <if test="mjBg != null">
                mjBg = #{mjBg,jdbcType = VARCHAR},
            </if>
            <if test="mjSys != null">
                mjSys = #{mjSys,jdbcType = VARCHAR},
            </if>
            <if test="djJc != null">
                djJc = #{djJc,jdbcType = VARCHAR},
            </if>
            <if test="introduction !=  null">
                introduction = #{introduction,jdbcType = VARCHAR},
            </if>
            <if test="comRemark != null">
                comRemark = #{comRemark,jdbcType = VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType = VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType = VARCHAR},
            </if>
            <if test="registCityCode != null">
                registCityCode = #{registCityCode,jdbcType = VARCHAR},
            </if>
            <if test="comProvideCode != null">
                comProvideCode = #{comProvideCode,jdbcType = VARCHAR},
            </if>
            <if test="comProvideName != null">
                comProvideName = #{comProvideName,jdbcType = VARCHAR},
            </if>
            <if test="comAddress != null">
                comAddress = #{comAddress,jdbcType = VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
