<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhgc.api.mapper.VerificationMapper">

    <insert id="saveVerification" parameterType="com.yhgc.api.entity.Verification">
        insert into verification(bqLevel,jdzsbh,jdjzUnit,jd,picture,jdjzTime,sbId,jdjzYxDate)
        values(#{bqLevel},#{jdzsbh},#{jdjzUnit},#{jd},#{picture},#{jdjzTime},#{sbId},#{jdjzYxDate})
    </insert>
</mapper>
